@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LastLike</h1>
    <p class="lead">Integrate your Facebook music likes with your Last.fm artist library and playlist!</p>
    <p></p>
</div>

    @if (Request.IsAuthenticated) {
        if(!ViewBag.isConnectedToLastFm)
        {
            <div class="row">
            <a href="http://www.last.fm/api/auth/?api_key=b06a27c2149690731f77c269f1810928">Connect to Last.fm</a>
            </div>
        }
        else
        {
            <h3>Already connected to Last.fm!</h3>
        }
    }
